*{
    margin: 0;
    padding: 0;
}

/* html, body{
    height: 100%;
} */

body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: rgb(31, 41, 55);
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 15px 15%;
}

.head{
    flex-grow: 1;
}

.head.logo{
    flex-grow: 3;
    text-align: left;
    font-size: large;
    font-weight: bold;
}

section#s1{
    background-color: rgb(31, 41, 55);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 15%;
}

h1.s1{
    font-size: 40px;
}

.s1.left{
    width: 45%;
}

.s1-btn{
    background-color: rgb(59, 130, 246);
    color: white;
    margin-top: 10px;
    padding: 8px 35px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

.s1.right{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.288);
    display: flex;
    justify-content: center;
    align-items: center;
}

section#s2{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0 100px 0;
}

p.s2{
    text-align: center;
    font-size: 30px;
    font-weight: 750;
}

.s2-content{
    display: flex;
    justify-content: center;
    text-align: center; 
    gap: 4%;
}

.s2-info{
    width: 145px;
}

.s2-img{
    height: 140px;
    width: 140px;
    border: 3px solid rgb(59, 130, 246);
    border-radius: 10px;
}

p.subtext{
    font-weight: light;
    font-size: 16px;
}

section#s3{
    background-color: rgb(229, 231, 235);
    padding: 100px 20%;
}

blockquote.s3{
    font-weight: 100;
    font-size: 30px;
    font-style: italic;
    margin-bottom: 10px;
}

p.s3{
    font-size: 20px;
    text-align: end;
    font-weight: bold;
}

section#s4{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.s4-sign{
    background-color: rgb(59, 130, 246);
    color: white;
    width: 70%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    border-radius: 8px;
}

h4.s4-left{
    font-size: large;
}

p.s4-left{
    font-size: 14px;
}

.s4-btn{
    background-color: rgb(59, 130, 246);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 35px;
}

footer{
    background-color: rgb(31, 41, 55);
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.footer-text{
    text-align: center;
}